@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
:root {
  /* --page-background: rgb(1, 41, 114); */
  --page-background: rgb(4, 12, 26);
  /* --secondary-color: rgba(17, 247, 255, 0.877); */
  --secondary-color: rgb(0, 247, 255);
  --just-white: #fff;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--page-background);
}

html {
  font-size: 62.5%;
  min-width: 320px;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: var(--page-background);
  color: var(--just-white);
}

