@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
:root {
  /* --page-background: rgb(1, 41, 114); */
  --page-background: rgb(4, 12, 26);
  /* --secondary-color: rgba(17, 247, 255, 0.877); */
  --secondary-color: rgb(0, 247, 255);
  --just-white: #fff;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--page-background);
}

html {
  font-size: 62.5%;
  min-width: 320px;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: var(--page-background);
  color: var(--just-white);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 2rem;
}

.inputs {
  width: 200px;
  height: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 10px;
  outline: none;
  padding: 20px;
}

.checkboxMalEstado {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-bottom: 0;
  width: 200px;
  font-size: 2rem;
}
.checkboxMalEstado input {
  width: 3rem;
  height: 3rem;
  margin: 10px;
}

.button-container {
  margin: 20px;
  margin-bottom: 0;
}
.calc-button {
  padding: 10px;
  background-color: var(--bautiful-cyan);
  border: 1px solid white;
  color: var(--just-white);
  border-radius: 10px
}

